<div class="jumbotron">
  <h1>Welcome to school db!</h1>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>

<div id="image-container">
    <div id="image" style="background: url(https://dl.dropboxusercontent.com/u/17178250/1439853045_a6f02c40be_o.jpg) no-repeat; width: 100%; height: 700px; background-size: 100%;"></div>
</div>
