<h1><%= "#{teacher.first_name}'s Page"%></h1>

<ul class="list-group">
  <p> <strong>Course Name:</strong>
    <% teacher.courses.each do |c| %>
      <li class="list-group-item"><%= c.name %></li>
    <% end %>
  </p>
</ul>

<ul class="list-group">
  <p> <strong>Students:</strong>
    <% teacher.students.each do |s| %>
      <li class="list-group-item"><%= "#{s.first_name} #{s.last_name}"%></li>
    <% end %>
  </p>
</ul>
